In [2]:
### Libraries:
import datetime
import pandas as pd
from sqlalchemy import create_engine
import pymysql
pymysql.install_as_MySQLdb()
import numpy as np

from splinter import Browser
from bs4 import BeautifulSoup as bs
import time
import urllib.request
from urllib.request import urlopen

In [3]:
bellybutton_file = "Datasets/belly_button_data.csv"
bellybutton_df = pd.read_csv(bellybutton_file)
bellybutton_df.head()

,otu_id,otu_label,940,941,943,944,945,946,947,948,...,1562,1563,1564,1572,1573,1574,1576,1577,1581,1601
0,1,Archaea;Euryarchaeota;Halobacteria;Halobacteri...,0,0,0,0,0,0,0,0.0,...,0,0,0,0,0,0,0,0,0,0
1,2,Archaea;Euryarchaeota;Halobacteria;Halobacteri...,0,0,0,0,0,0,0,0.0,...,0,0,0,0,0,0,0,0,0,0
2,3,Archaea;Euryarchaeota;Halobacteria;Halobacteri...,0,0,0,0,0,0,0,0.0,...,0,0,0,0,0,0,0,0,0,0
3,4,Archaea;Euryarchaeota;Methanobacteria;Methanob...,0,0,0,0,0,0,0,0.0,...,0,0,0,0,0,0,0,0,0,0
4,5,Archaea;Euryarchaeota;Methanobacteria;Methanob...,0,0,0,0,0,0,0,0.0,...,0,0,0,0,0,0,0,0,0,0

In [4]:
belly_button_metadata_file = "Datasets/belly_button_metadata.csv"
belly_button_metadata_df = pd.read_csv(belly_button_metadata_file)
belly_button_metadata_df.head()

,sample,EVENT,ETHNICITY,GENDER,AGE,WFREQ,BBTYPE,LOCATION,COUNTRY012,ZIP012,...,DOG,CAT,IMPSURFACE013,NPP013,MMAXTEMP013,PFC013,IMPSURFACE1319,NPP1319,MMAXTEMP1319,PFC1319
0,940,BellyButtonsScienceOnline,Caucasian,F,24.0,2.0,I,Beaufort/NC,usa,22306,...,no,no,8852.0,37.172222,54.5,NaN,1,NaN,33.990002,25.5
1,941,NaN,Caucasian/Midleastern,F,34.0,1.0,I,Chicago/IL,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,943,BellyButtonsScienceOnline,Caucasian,F,49.0,1.0,I,Omaha/NE,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,944,BellyButtonsScienceOnline,European,M,44.0,1.0,I,NewHaven/CT,usa,7079,...,no,yes,NaN,35.816666,16.0,NaN,0,6567.0,32.403332,28.5
4,945,BellyButtonsScienceOnline,Caucasian,F,48.0,1.0,I,Philidelphia/PA,usa,84404,...,no,no,NaN,37.783333,4.0,NaN,0,5613.0,33.634445,24.0

**Scrapping Nasa News Website**

In [3]:
browser = init_browser()

url_nasa_news = "https://mars.nasa.gov/news/?page=0&per_page=40&order=publish_date+desc%2Ccreated_at+desc&search=&category=19%2C165%2C184%2C204&blank_scope=Latest"
browser.visit(url_nasa_news)

time.sleep(1)

# Scrape page into Soup
html_nasa = browser.html
soup_nasa = bs(html_nasa, "html.parser")

# Geting headline
news_full = soup_nasa.select("#page a")

news_title = [x.text for x in news_full][1]

# # Getting paragraph
# news_t = soup_nasa.select(".slide")

# news_paragraph = [x.text for x in news_t][0]

news_t = soup_nasa.select(".article_teaser_body")

news_paragraph = [x.text for x in news_t][0]

In [4]:
news_title

'Mars InSight Lander Seen in First Images from Space '

In [5]:
news_paragraph

"Look closely, and you can make out the lander's solar panels."

**Scrapping Image from Space Images**

In [6]:
url_jpl_original = "https://www.jpl.nasa.gov"

url_jpl = "https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars"

browser.visit(url_jpl)

time.sleep(1)

# # Scrape page into Soup
html = browser.html
soup = bs(html, "html.parser")
relative_image_path = soup.select('.thumb')[0]["src"]


nasa_img = url_jpl_original + relative_image_path

In [7]:
nasa_img

'https://www.jpl.nasa.gov/spaceimages/images/wallpaper/PIA22878-640x350.jpg'

In [8]:
urllib.request.urlretrieve(nasa_img, "images/Mars_image.jpg")

('images/Mars_image.jpg', <http.client.HTTPMessage at 0x198de3c44a8>)

**Scrapping Teperature from Twitter Account**

In [9]:
url_twitter = "https://twitter.com/marswxreport?lang=en"
browser.visit(url_twitter)

# Scrape page into Soup
html_twitter = browser.html
soup_tweeter = bs(html_twitter, "html.parser")


time.sleep(1)

# Geting last tweet
tweet = soup_tweeter.select(".tweet-text")

last_tweet = [x.text for x in tweet][0]

In [10]:
last_tweet

'Sol 2258 (2018-12-13), high -6C/21F, low -70C/-93F, pressure at 8.41 hPa, daylight 06:37-18:51'

**Scrapping Teperature from Mars Facts**

In [11]:
url_facts = 'https://space-facts.com/mars/'
page_facts = urlopen(url_facts)
soup = bs(page_facts, 'html.parser')

table = soup.find('table',id="tablepress-mars")

In [12]:
table

<table class="tablepress tablepress-id-mars" id="tablepress-mars">
<tbody>
<tr class="row-1 odd">
<td class="column-1"><strong>Equatorial Diameter:</strong></td><td class="column-2">6,792 km<br/>
</td>
</tr>
<tr class="row-2 even">
<td class="column-1"><strong>Polar Diameter:</strong></td><td class="column-2">6,752 km<br/>
</td>
</tr>
<tr class="row-3 odd">
<td class="column-1"><strong>Mass:</strong></td><td class="column-2">6.42 x 10^23 kg (10.7% Earth)</td>
</tr>
<tr class="row-4 even">
<td class="column-1"><strong>Moons:</strong></td><td class="column-2">2 (<a href="https://space-facts.com/phobos/">Phobos</a> &amp; <a href="https://space-facts.com/deimos/">Deimos</a>)</td>
</tr>
<tr class="row-5 odd">
<td class="column-1"><strong>Orbit Distance:</strong></td><td class="column-2">227,943,824 km (1.52 AU)</td>
</tr>
<tr class="row-6 even">
<td class="column-1"><strong>Orbit Period:</strong></td><td class="column-2">687 days (1.9 years)<br/>
</td>
</tr>
<tr class="row-7 odd">
<td class="column-1"><strong>Surface Temperature: </strong></td><td class="column-2">-153 to 20 Â°C</td>
</tr>
<tr class="row-8 even">
<td class="column-1"><strong>First Record:</strong></td><td class="column-2">2nd millennium BC</td>
</tr>
<tr class="row-9 odd">
<td class="column-1"><strong>Recorded By:</strong></td><td class="column-2">Egyptian astronomers</td>
</tr>
</tbody>
</table>


**Scrapping Mars Hemisphere Images**

In [13]:
url_hemisphere_original = "https://astrogeology.usgs.gov"


url_hemisphere = "https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars"


browser.visit(url_hemisphere)

time.sleep(1)

hemisphere_names  = []
hemisphere_images = []

for i in [0,1,2,3]:
    # Scrape page into Soup
    html_hemisphere = browser.html
    soup = bs(html_hemisphere, "html.parser")
    
    # For loop for the name of the Hemispheres and appending to list
    hemis_name = soup.select("h3")
    hemis_string = [x.text for x in hemis_name][i]
    hemisphere_names.append(hemis_string)
    
    # For loop for the images of the Hemispheres and appending to list
    image_path_hemisphere = soup.select('.thumb')[i]["src"]    
    hemisphere_img = url_hemisphere_original + image_path_hemisphere
    hemisphere_images.append(hemisphere_img)
    
    # Savings images in folder
    urllib.request.urlretrieve(hemisphere_img, f"images/hemisphere{i}_img.jpg")

In [14]:
hemisphere_names

['Cerberus Hemisphere Enhanced',
 'Schiaparelli Hemisphere Enhanced',
 'Syrtis Major Hemisphere Enhanced',
 'Valles Marineris Hemisphere Enhanced']

In [15]:
hemisphere_images

['https://astrogeology.usgs.gov/cache/images/dfaf3849e74bf973b59eb50dab52b583_cerberus_enhanced.tif_thumb.png',
 'https://astrogeology.usgs.gov/cache/images/7677c0a006b83871b5a2f66985ab5857_schiaparelli_enhanced.tif_thumb.png',
 'https://astrogeology.usgs.gov/cache/images/aae41197e40d6d4f3ea557f8cfe51d15_syrtis_major_enhanced.tif_thumb.png',
 'https://astrogeology.usgs.gov/cache/images/04085d99ec3713883a9a57f42be9c725_valles_marineris_enhanced.tif_thumb.png']